<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plantilla</title>
</head>
<body>
    <header th:fragment="header">
        <h1>Control de Clientes</h1>
    </header>
<footer th:fragment="footer">Derechos reservados <a href="www.google.com" target="_blank"></a>Noktuos page</footer>
</body>
</html>