<html xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Agregar / Modificar Persona</title>
</head>
<body>

<header th:replace="layout/plantilla :: header"></header>
<a th:href="@{/}">Inicio</a>
<br>
<form th:action="@{/guardar}" method="post" th:object="${persona}">
  <label for="nombre">Nombre</label>
  <input type="hidden" name="idPersona" th:field="*{idPersona}">
  <input type="text" id="nombre" th:field="*{nombre}">
  <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
    Campo Requerido
  </span>
  <br>
  <label for="apellido">Apellido</label>
  <input type="text" id="apellido" th:field="*{apellido}">
  <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Campo requerido</span>
  <br>
  <label for="email">Email</label>
  <input type="text" id="email" th:field="*{email}">
  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Campo requerido</span>
  <br>
  <label for="telefono">Telefono</label>
  <input type="tel" id="telefono" th:field="*{telefono}">
  <br>
  <input type="submit" name="guardar" value="guardar">
</form>
<footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>